In [2]:
import pandas as pd
url = 'https://statranker.org/cities-urban-life/top-100-cities-by-international-tourist-arrivals-2025/'
df = pd.read_html(url)

In [3]:
import pandas as pd

df_combined = pd.concat(df, ignore_index=True)

target_cities = [
    "Paris", "Barcelona", "Tokyo", "New York", "London",
    "Rome", "Amsterdam", "Sydney", "Bangkok", "Istanbul",
    "Cairo", "Rio de Janeiro", "Venice", "Los Angeles"
]
df_combined['City'] = df_combined['City, Country'].apply(lambda x: x.split(",")[0].strip())
df_filtered = df_combined[df_combined['City'].isin(target_cities)].copy()

def match_city(city):
    for target in target_cities:
        if target.lower() in city.lower():
            return target
    return None

df_combined['City_Standard'] = df_combined['City'].apply(match_city)
df_filtered = df_combined[df_combined['City_Standard'].notna()].copy()

df_filtered['International Tourist Arrivals (2025)'] = (
    df_filtered['International Tourist Arrivals (2025)']
    .str.replace('≈','')
    .str.replace('M','')
    .str.strip()
    .astype(float)
)

In [4]:
df_filtered.head()

,Rank,"City, Country",International Tourist Arrivals (2025),City,City_Standard
0,1,"Bangkok, Thailand",30.3,Bangkok,Bangkok
2,3,"London, United Kingdom",22.7,London,London
4,5,"Istanbul, Türkiye",19.7,Istanbul,Istanbul
8,9,"Paris, France",18.3,Paris,Paris
10,1,"Bangkok, Thailand",30.3,Bangkok,Bangkok

In [14]:
df_filtered.head(20)

              City  International Tourist Arrivals (Millions)
0          Bangkok                                       30.3
1           London                                       22.7
2         Istanbul                                       19.7
3            Paris                                       18.3
4         New York                                       16.4
5            Tokyo                                       15.4
6        Barcelona                                       14.6
7             Rome                                       14.0
8        Amsterdam                                       12.2
9           Venice                                       10.6
10     Los Angeles                                        3.6
11  Rio de Janeiro                                        3.2
12           Cairo                                        2.5
13          Sydney                                        2.5

In [5]:
df_filtered = df_filtered[['City_Standard', 'International Tourist Arrivals (2025)']]
df_filtered.columns = ["City", "International Tourist Arrivals (Millions)"]

df_filtered.reset_index(drop=True, inplace=True)

In [12]:
df_filtered = df_filtered.drop_duplicates(subset='City', keep='first').reset_index(drop=True)

In [13]:
df_filtered.to_csv("TouristArrivals.csv", index=False)